.study-wrapper {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: fit-content;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.study-section {
    grid-column: 1 / span 1;
    grid-row: span 1;
    width: 90%;
    padding: 25px;
    padding-top: 100px;
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 15px 0;
}

.study-image {
    width: 100%;
    margin: auto;
    text-align: center;
}

.study-image img {
    width: 90%;
    padding: 5%;
}

#wireframe {
    width: 35%;
    padding: 5%;
    vertical-align: middle;
}

#wireframe-container {
    grid-row: span 2;
}