.study-wrapper {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: fit-content;
    flex-wrap: wrap;
    width: 100%;
    margin: 0;
}

.study-section {
    background-color: white;
    grid-row: span 1;
    width: 80%;
    max-width: 800px;
    padding: 10%;
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin: 15px auto;
}

#intro {
    grid-column: 1 / span 1;
}

.study-image {
    background-color: transparent;
    width: 100%;
    max-width: 800px;
    margin: auto;
    text-align: center;
    justify-self: end;
}

.study-image img {
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#wireframe-container {
    display: flex;
    flex-direction: row;
}

#wireframe {
    width: 30%;
    margin: auto;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

td {
    padding: 15px;
    font-style: italic;
    width: 25%;
}

td b{
    font-weight: 400;
    color: #694556;
}

table {
   background-color: white;
   box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
   margin: 0px 50px;
   table-layout: fixed;
}

#saige {
    background-image: url(../images/texture4.png);
    background-color: #c4f4dc;
    background-blend-mode: color-dodge;
    background-position: bottom;
    background-size: 100%;
}

#afs {
    background-image: url(../images/texture4.png);
    background-color: #2e6de2;
    background-blend-mode: color-dodge;
    background-size: 100%;
}

#citizen-advocacy {
    background-image: url(../images/texture4.png);
    background-color: #FD8282;
    background-blend-mode: color-dodge;
    background-size: 100%;
}

.study_logo {
    align-self: center;
    width: 200px;
    height: auto;
    margin-bottom: 15px;
}

ul {
    text-align: left;
}