/* 
Site Styles 

Top of this document is for styles to be used across the whole site. 
Styles to be used on individual pages further down document.
*/

.mobile {
    display: none;
}

.mobile-img {
    display: none;
}

body a {
    color: #AB888D;
    font-weight: bold;
}

body {
    scroll-snap-type: mandatory;
    padding: 0;
    margin: 0;
}

body u {
    text-decoration-style: dashed;
    text-decoration-color: #AB888D;
}

h1 {
    font-family: 'Roboto Mono';
    font-size: 45px;
    font-weight: normal;
    color: #2B1F23;
    text-align: center;
}

h2 {
    font-family: 'Roboto Mono';
    font-size: 18px;
    font-weight: normal;
    color: #694556;
}

body {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
    font-weight: 200;
    color: #694556;
}

body b {
    color: #2B1F23;
}

/* Start asset styles */
.logo {
    height: 40px;
}

#logo {
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#button {
    background-color: #5BAA0A;
    color: white;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}
/* End asset styles */

/* Start Navigation Styles */
.navigation {
    height: 70px;
    background: transparent;
    position: relative;
    box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
    z-index: 2000;
}

.nav-container {
    max-width: 2000px;
    margin: 0 auto;
}

.brand {
    position: absolute;
    padding: 15px;
    float: inline-start;
    line-height: 70px;
    text-transform: uppercase;
}

nav {
    float: right;
    width: fit-content;
    height: 70px;
    padding-right: 70px;
}

nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    float: left;
    position: relative;
}

nav a {
    display: block;
    padding: 0 20px;
    line-height: 70px;
    background-color: white;
    color: #694556;
    text-decoration: none;
    font-family: 'Lato', sans-serif;
    font-weight: 200;
    font-size: 16px;
}

nav a:hover {
    background-color: #5BAA0A;
    color: white;
    font-weight: 200;
    text-decoration: none;
    text-shadow: none;
}

.nav-mobile{
    /*display: none;*/
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 70px;
    width: 70px;
    z-index: 1000;
}
/* End Navigation Styles */

/* Start Footer Styles */
footer{
    display: flex;
    flex-direction: row;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#footerleft{
   width: 70%;
   justify-self: flex-start; 
   align-self: center;
}

#footerright{
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
    width: 30%;
}
/* End Footer Styles*/

/* End Site-Wide Styles */

/**/

/* Styles beneath this point are individual page styles */

/**/

/* Start 'index.html' Styles */
.container {
    scroll-snap-align: start;
    min-height: 550px;
    height: fit-content;
    width: 100%;
    opacity: 0;
}

#hero {
    display: flex;
    flex-direction: row;
    background-image: url(../images/hero.png);
    background-position: left;
    background-repeat: no-repeat;
    background-size: contain;
    opacity: 1;
}

.container-inner {
    display: grid;
    grid-template-rows: 75% 25%;
    width: 45%;
    height: auto;
    margin: 0 2.5%;
}

#hello {
    grid-row: 1 / span 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

#hello p {
    background-color: white
}

#social-buttons {
    grid-row: 2 / span 1;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: flex-end;
}

#intro {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

#intro h1 {
    margin-top: 15px;
}

#intro-container {
    background-color: white;
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

#arrow1 {
    grid-row: 2 / span 1;
    text-align: center;
    height: fit-content;
    align-self: center;
    z-index: 0;
    margin-top: 65px;
}

.bounce {
    -webkit-animation: bounce 6s infinite ease-in-out;
}

@-webkit-keyframes bounce {
	0%, 20%, 60%, 100%  { -webkit-transform: translateY(0); }
    40%  { -webkit-transform: translateY(-20px); }
	80% { -webkit-transform: translateY(-10px); }
}

#about {
    background-image: url(../images/texture2.png), url(../images/texture1.png);
    background-position: left top, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 30%;
    display: grid;
    height: fit-content;
    grid-template-rows: 125px auto 125px;
    grid-template-columns: 100%;
}

#aboutheader {
    grid-row: 1 / span 1;
}

#aboutcontainer{
    grid-row: 2 / span 1;
    height: fit-content;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
    padding: 15px;
    margin: auto;
    width: 80%;
    min-width: 290px;
}

#arrow2 {
    grid-row: 3 / span 1;
    text-align: center;
    height: fit-content;
    align-self: center;
    z-index: 0;
    margin-top: 65px;
}

#skills{
    background-image: url(../images/texture3.png);
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: 500px;
    display: grid;
    height: fit-content;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 125px auto;
}

#skillsheader{
    grid-column: 2 / span 1;
}

#skill1{
    grid-column: 1 / span 1;
}

#skill2{
    grid-column: 2 / span 1;
}

#skill3{
    grid-column: 3/ span 1;
}

.skillcontainer{
    padding: 15px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    background-color: white;
    margin-right: 15px;
    margin-left: 15px;
    grid-row: 2 / span 1;
    height: 250px;
    text-align: center;
}
/* End index.html styles */

#myworkwrapper{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 1fr 1fr 1fr;
    margin-top: 15px;
}

#casestudies{
    padding: 25px;
    padding-top: 100px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
}

.workcontainer{
    padding: 25px;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    text-align: center;  
    margin-left: 15px;
    margin-top: 15px;
}

#myworkheader{
    grid-column: 3 / span 2;
    grid-row: 1 / span 1;
}

#graphicdesign{
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

#photography{
    grid-column: 4 / span 1;
    grid-row: 2 / span 1;
}

#writing{
    grid-column: 3 / span 1;
    grid-row: 3 / span 1;
}

#learning-grid{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#learning-explainer{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
}

.learning-box{
    display: flex;
    flex-direction: row;
    height: 30vh;
    width: 30vh;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    margin-left: 15px;
    margin-bottom: 15px;
}

.learning-box img, .learning-box a {
    display: flex;
    flex-direction: row;
    height: 90%;
    align-content: center;
    margin: auto;
}

#text-container{
    box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    padding: 20px 50px 20px;
    height: fit-content;
    align-self: left;
}

#study{
    align-content: center;
}

#img-container{
    display: flex;
    flex-flow: column;
    padding: 20px;
    justify-content: center;
    text-align: center;
}

#study-img{
    max-width: 70%;
    object-fit: contain;
    object-position: center;
}

#study{
    margin: 15px 0px 0px 15px;
}

.li active{
    color: #AB888D;
}

/* Smaller Screen + Mobile CSS */

@media only screen and (max-width: 700px){
    /* Mobile Site Styles 

    Portion this document is for styles to be used across the whole site. 
    Styles to be used on individual pages further down document.
    */
    .desktop{
        display: none;
    }

    .mobile{
        display: flex;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        padding-left: 15px;
        padding-right: 15px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
    }

    .mobile-img{
        display: unset;
    }

    /* Start Mobile Navigation Styling */
    .nav-mobile{
        display: block;
        z-index: 1000
    }

    nav {
        width: 100%;
        padding: 0px;
        background-color: white;
    }
    
    nav ul{
        display: none;
        list-style: none;
        margin: 0;
        padding: 0;
        padding-top: 70px;
        height: 100%;
        width: 100%;
        background-image: url(../images/texture3.png);
        background-repeat: no-repeat;
        background-position: left;
        background-size: cover;
        position: fixed;
        text-align: center;
        z-index: -1;
    }

    nav li{
        float: none;
    }

    nav a{
        padding: 15px;
        line-height: 20px;
        background-color: transparent;
        color: #2B1F23;
        font-weight: 400;
        font-size: 30px;
        padding: 25px;
    }

    nav ul li a{
        padding-left: 30px;
    }

    .nav-dropdown{
        position: static;
    }

    #nav-toggle {
        position: absolute;
        left: 18px;
        top: 22px;
        cursor: pointer;
        padding: 10px 35px 16px 0px;
    }

    /* Start hamburger menu animation */
    #nav-toggle span, #nav-toggle span::before, #nav-toggle span::after {
        cursor: pointer;
        border-radius: 1px;
        height: 3px;
        width: 35px;
        background: #694556;
        position: absolute;
        display: block;
        content: '';
        transition: all 300ms ease-in-out;
    }

    #nav-toggle span::before {
        top: -10px;
    }

    #nav-toggle span::after {
        bottom: -10px;
    }

    #nav-toggle span, #nav-toggle span::before, #nav-toggle span::after {
        transition: all 500ms ease-in-out;
    }

    #nav-toggle.active span {
        background-color: transparent;
    }

    #nav-toggle.active span::before, #nav-toggle.active span::after {
        top: 0;
    }

    #nav-toggle.active span::before {
        transform: rotate(45deg);
    }

    #nav-toggle.active span::after {
        transform: rotate(-45deg);
    }
    /* End hamburger menu animation */
    /* End mobile navigation styling */

    #hero {
        flex-direction: column;
        background-size: 400px;
        background-position-y: 69px;
        background-position-x: -36px;
    }

    .container-inner{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: center;
        width: 100%;
        height: auto;
        margin: 0%
    }

    #intro {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: max-content;
    }

    #intro-container {
        margin-top: 265px;
    }

    #hello {
        margin-right: 15px;
    }

    #social-buttons {
        margin-right: 15px;
        margin-bottom: -605px;
    }

    #about {
        grid-template-rows: 125px auto;
    }

    #aboutcontainer{
        grid-column: 1 / span 4;
        grid-row: 2 / span 1;
        padding: 15px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        height: fit-content;
        background-color: white;
        margin-bottom: 50px;
    }

    #skills{
        padding-bottom: 15px;
        display: grid;
        height: fit-content;
        grid-template-rows: .5fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    }
        
    #skillsheader{
        grid-row: 1 / span 1;
        grid-column: 1 / span 2;
    }
        
    #skill1{
        grid-row: 2 / span 1;
        grid-column: 1 / span 2;
    }
        
    #skill2{
        grid-row: 3 / span 1;
        grid-column: 1 / span 2;
    }
        
    #skill3{
        grid-row: 4/ span 1;
        grid-column: 1 / span 2;
    }
    
    .skillcontainer{
        padding: 15px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        background-color: white;
        margin-top: 15px;
        height: fit-content;
    }

    #myworkwrapper{
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: .5fr 1fr 1fr 1fr 1fr;
        margin-top: 15px;
    }
        
    #casestudies{
        padding: 25px;
        padding-top: 100px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        grid-column: 1 / span 2;
        grid-row: 2 / span 2;
    }
        
    .workcontainer{
        padding: 25px;
        box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
        text-align: center;  
        margin-top: 15px;
    }
        
    #myworkheader{
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
        align-self: top;
    }
        
    #graphicdesign{
        grid-column: 1 / span 1;
        grid-row: 4 / span 1;
        margin-right: 7.5px;
        margin-left: 0px;
    }
        
    #photography{
        grid-column: 2 / span 1;
        grid-row: 4 / span 1;
        margin-left: 7.5px;
    }
        
    #writing{
        grid-column: 1 / span 1;
        grid-row: 5 / span 1;
        margin-right: 7.5px;
        margin-left: 0px;
    }
}